.busTimes {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  left: 0;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: black;
  border-width: 2px;
  background: #d3e4ff;
  }

.other {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  right: 0;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-color: black;
  border-width: 2px;
  background: #d3e4ff;
}

.map {
  position: fixed;
  height: 50%;
  width: 100%;
  z-index: 1;
  top: 50%;
  left: 0;
  overflow-x: hidden;
}

button{
  background-color: transparent;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 0;
  display: inline-block;
  font-size: 100%;
  text-decoration: none;
}

table{
  max-height: 100%;
  height: 1000000px;
  width: 100%;
  text-align: left;
}
